form {
	text-align: center;
}
body{
    text-align: center;
    height: 100px;
    background-color: #ddd;
    width: 100%;
    background-size: cover;
    min-height: 10%;
}
input[type="text"] {
	padding: 10px;
	margin: 10px;
}

button {
	padding: 10px;
	background-color: #14880A;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #14880A;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

th, td {
	text-align: center;
	padding: 10px;
}

th {
	background-color: #14880a;
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

h1 {
	text-align: center;
}


