/* Establece estilos base para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establece un fondo de pantalla completa */
body {
    text-align: center;
    height: 100vh; /* Usamos viewport height para ocupar toda la altura de la ventana */
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif; /* Establece la fuente predeterminada */
    color: rgb(0, 0, 0);
     
}
.nav_logo {
    color: #ffffff; /* Cambia "#FF0000" por el código hexadecimal del color que desees. */
}

/* Estilos para el encabezado */
header {
    background: rgb(4, 162, 31);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 100%;
    max-height: 100%;
}

/* Estilos para el formulario de registro */
.Registro {
    text-align: left;
    min-height: 200px;
    width: 400px;
    padding: 30px;
    margin: 50px auto 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.818);
    box-shadow: 0 0 10px rgb(97, 96, 96);
}

.Registro input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    background-color: #3e8e41;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Estilo para el título h2 */
h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

/* Establece estilos para el logo en el encabezado */
header .logo {
    width: 100px;
    height: 50px;
    background: url(LOGO_BLANCO.png) no-repeat center;
    background-size: contain;
    margin-right: 20px;
    
}

/* Establece estilos para el título del formulario de registro */
.Registro .titulo {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
